<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= form.label :title %><br>
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>

  <div class="form-group">
  <%= form.label :body %><br>
    <%= form.text_area :body, class:"form-control", placeholder:"Body " %>
  </div>
  <div class="form-group">
  <%= form.label :name %><br>
    <%= form.text_area :name, class:"form-control", placeholder:"Name " %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
